body {
    margin: 0;
    display: flex;
    /* width: 100vw;
    height: 100vh; */
}
@font-face {
    font-family: nameFont;
    src: url(./fonts/Norse-Bold.otf);
}

.left {
    background-image: url("./images/sand.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 400px;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    background-color: rgba(50, 50, 50, 0.75);
    position: relative;
    top: -200px;
    display: flex; 
    justify-content: center;
    gap: 10px;
}
.left .name {
    font-size: 3rem;
    color: white;
    font-family: nameFont;
}


.right {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    padding: 20px;
}

.section.two {
    background-color: white;
    box-shadow:
}
form {
   /* background-color: white;  */
}
h3 {
    margin-top: 0;
}
.form-input {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container>.row {
    display: flex;
    gap: 100px;
}