body {
    margin: 0;
    display: flex;
    /* width: 100vw;
    height: 100vh; */
    font-family: Arial;
    --lightbrown: rgb(120, 99, 70);
}
@font-face {
    font-family: nameFont;
    src: url(./fonts/Norse-Bold.otf);
}

.left {
    background-image: url("./images/sand.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 400px;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    background-color: rgba(50, 50, 50, 0.75);
    position: relative;
    top: -200px;
    display: flex; 
    justify-content: center;
    gap: 10px;
}
.left .name {
    font-size: 3rem;
    color: white;
    font-family: nameFont;
}


.right {
    background-color: rgb(235, 235, 235);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    padding: 20px;
}

.section.one > p {
    width: 600px;
}
.section.one > *:last-child {
    font-weight: Bold;
}
.section.two {
    background-color: white;
    box-shadow: 5px 5px 5px darkgray;
}
form {
   /* background-color: white;  */

}
h3 {
    margin-top: 0;
}
.form-input {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container>.row {
    display: flex;
    gap: 100px;
}
input {
    border: 1px solid lightgray;
    border-radius: 3px;
}
input:focus {
    box-shadow: 2px 2px 2px lightgray;
}
#password:invalid, #confirm-password:invalid {
    border-color: red;
}
#password:valid, #comfirm-password:valid {
    border-color: green;
}
.row.name, .row.contact {
    margin-bottom: 10px;
}

.section.three button {
    background-color: var(--lightbrown);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: white;
}
.login {
    text-decoration: none;
    color: var(--lightbrown);
}